html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
body,div{font-size:0;}
p,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;}
ul{list-style-type:none;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.whitespacefix{word-spacing:-1px;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.menu-content {
	cursor: pointer;
	position: relative;
}

li {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes bounceIn{from,20%,40%,60%,80%,to{-webkit-animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000)}0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3)}20%{-webkit-transform:scale3d(1.1,1.1,1.1)}40%{-webkit-transform:scale3d(.9,.9,.9)}60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03)}80%{-webkit-transform:scale3d(.97,.97,.97)}to{opacity:1;-webkit-transform:scale3d(1,1,1)}}@keyframes bounceIn{from,20%,40%,60%,80%,to{animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000)}0%{opacity:0;transform:scale3d(.3,.3,.3)}20%{transform:scale3d(1.1,1.1,1.1)}40%{transform:scale3d(.9,.9,.9)}60%{opacity:1;transform:scale3d(1.03,1.03,1.03)}80%{transform:scale3d(.97,.97,.97)}to{opacity:1;transform:scale3d(1,1,1)}}.bounceIn{-webkit-animation-name:bounceIn;animation-name:bounceIn}
@-webkit-keyframes tada{from{-webkit-transform:scale3d(1,1,1)}10%,20%{-webkit-transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)}30%,50%,70%,90%{-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)}40%,60%,80%{-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)}to{-webkit-transform:scale3d(1,1,1)}}@keyframes tada{from{transform:scale3d(1,1,1)}10%,20%{transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)}30%,50%,70%,90%{transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)}40%,60%,80%{transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)}to{transform:scale3d(1,1,1)}}.tada{-webkit-animation-name:tada;animation-name:tada}
#body{background-color:rgb(182,203,218);}
.pos{position:relative;margin-top:26px;}
.vis{display:block;}
.section{min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-left:553px;margin-top:0;}
.size{min-width:368px;width:368px;min-height:28px;}
.vis-3{display:inline-block;vertical-align:top;overflow:visible;}
.pos-3{position:relative;margin-left:0;margin-top:0;}
.size-2{min-width:314px;width:314px;min-height:28px;}
.cont-2{z-index:17;}
.vis-4{display:inline-block;vertical-align:top;}
.size-3{min-width:314px;width:314px;min-height:28px;height:28px;}
.menu{padding:0px 0px 0px 0px;}
.menu-link{outline:0;}
.size-4{min-width:104px;width:104px;min-height:28px;height:28px;}
.menu-content-vis{display:inline-block;}
.size-5{min-width:104px;width:104px;min-height:28px;}
.cont-3{border:0;background-color:transparent;}
.para{padding-top:0;text-indent:0;margin-top:0.82pt;margin-bottom:-0.82pt;padding-right:0;text-align:center;}
.font{font-family:Avenir, sans-serif;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,65);line-height:18.03pt;letter-spacing:normal;}
.pos-4{position:relative;margin-left:1px;margin-top:0;}
.pos-5{position:relative;margin-left:23px;margin-top:0;}
.size-6{min-width:31px;width:31px;min-height:27px;}
.cont-4{z-index:1;}
.button{border:0;background-image:url(../images/linkedin-27.jpg);background-color:transparent;background-repeat:no-repeat;background-position:50% 50%;background-size:contain;background-clip:padding-box;}
.button:hover{background-color:rgb(130,147,158);border-color:rgb(64,64,64);color:rgb(64,64,64);}
.button:active{background-color:rgb(82,100,111);border-color:rgb(64,64,64);color:rgb(192,192,192);}
.vis-5{display:inline-block;overflow:hidden;outline:0;}
.size-7{width:31px;height:21px;}
.font-2{padding-top:6px;margin-top:0;margin-bottom:0;}
.pos-7{position:relative;margin-top:2px;}
.size-8{width:100%;min-width:960px;min-height:543px;}
.cont-5{z-index:3;border:0;overflow:hidden;}
.fixed{background-attachment:fixed;background-image:url(../images/ocean-960.jpg);background-color:rgba(255,255,255,0.223984);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.pos-8{position:relative;margin-top:12px;}
.pos-9{position:relative;margin-left:30px;margin-top:0;}
.size-9{min-width:161px;width:161px;min-height:160px;}
.cont-6{z-index:6;}
.para-2{padding-top:0;text-indent:0;margin-top:-4.18pt;margin-bottom:4.18pt;padding-right:0;text-align:left;}
.font-3{font-family:Megrim;font-size:46.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,65);line-height:54.40pt;letter-spacing:normal;}
.pos-10{position:relative;margin-left:-21px;margin-top:372px;}
.size-10{min-width:691px;width:691px;min-height:112px;}
.cont-7{z-index:7;}
.para-3{padding-top:0;text-indent:0;margin-top:5.83pt;margin-bottom:-5.83pt;padding-right:0;text-align:left;}
.font-4{font-family:Megrim;font-size:40.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgba(205,221,232,0.875117);line-height:66.34pt;letter-spacing:normal;}
.pos-11{position:relative;margin-top:-23px;}
.size-11{width:100%;min-width:960px;min-height:976px;}
.cont-8{z-index:2;border:0;overflow:hidden;}
.fixed-2{background-attachment:fixed;background-image:url(../images/52b6b4db7397c_1-960.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 100%;background-size:cover;background-clip:padding-box;}
.pos-12{position:relative;margin-top:35px;}
.size-12{min-width:1px;width:1px;min-height:1px;}
.pos-13{position:relative;margin-left:37px;margin-top:80px;}
.size-13{min-width:881px;width:881px;min-height:513px;}
.cont-9{z-index:4;border:0;background-color:rgba(205,221,232,0.875117);box-shadow:19px 14px 14px rgba(0,0,0,0.4);}
.pos-14{position:relative;margin-left:52px;margin-top:17px;}
.size-14{min-width:144px;width:144px;min-height:49px;}
.cont-10{z-index:5;}
.para-4{padding-top:0;text-indent:0;margin-top:4.92pt;margin-bottom:-4.92pt;padding-right:0;text-align:left;}
.font-5{font-family:Avenir, sans-serif;font-size:18.00pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(0,0,65);line-height:34.42pt;letter-spacing:normal;}
.pos-15{position:relative;margin-left:87px;margin-top:16px;}
.size-15{min-width:742px;width:742px;min-height:234px;}
.size-16{min-width:435px;width:435px;min-height:136px;}
.cont-11{z-index:8;}
.pos-16{margin-left:24px;}
.para-5{padding-top:0;text-indent:-7px;margin-top:3.28pt;margin-bottom:-3.28pt;padding-right:0;text-align:left;}
.font-6{font-family:Avenir, sans-serif;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,65);line-height:22.95pt;letter-spacing:normal;}
.pos-17{position:relative;margin-left:14px;margin-top:-21px;}
.size-17{min-width:728px;width:728px;min-height:119px;}
.cont-12{z-index:11;}
.para-6{padding-top:0;text-indent:0;margin-top:5.53pt;margin-bottom:-5.53pt;padding-right:0;text-align:left;}
.font-7{font-family:Avenir, sans-serif;font-size:13.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(0,0,65);line-height:29.51pt;letter-spacing:normal;}
.pos-18{position:relative;margin-left:87px;margin-top:19px;}
.size-18{min-width:480px;width:480px;min-height:138px;}
.cont-13{z-index:9;}
.para-7{padding-top:0;text-indent:16px;margin-top:3.28pt;margin-bottom:-3.28pt;padding-right:0;text-align:left;}
.pos-19{position:relative;margin-left:-919px;margin-top:717px;}
.pos-20{position:relative;margin-top:-191px;}
.size-19{width:100%;min-width:960px;min-height:1246px;}
.cont-14{z-index:13;border:0;overflow:hidden;}
.fixed-3{background-attachment:fixed;background-image:url(../images/525f012329589_1-960.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.pos-21{position:relative;margin-top:153px;}
.pos-22{position:relative;margin-left:43px;margin-top:0;}
.size-20{min-width:868px;width:868px;min-height:415px;}
.cont-15{z-index:14;border:0;background-color:rgba(205,221,232,0.875117);box-shadow:19px 13px 15px rgba(0,0,0,0.4);}
.pos-23{position:relative;margin-left:47px;margin-top:38px;}
.size-21{min-width:220px;width:220px;min-height:60px;}
.cont-16{z-index:15;}
.para-8{padding-top:0;text-indent:0;margin-top:5.33pt;margin-bottom:-5.33pt;padding-right:0;text-align:left;}
.font-8{font-family:Avenir, sans-serif;font-size:19.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(0,0,65);line-height:37.29pt;letter-spacing:normal;}
.pos-24{position:relative;margin-left:-128px;margin-top:129px;}
.size-22{min-width:528px;width:528px;min-height:229px;}
.cont-17{z-index:16;}
.para-9{padding-top:0;text-indent:-12px;margin-top:3.28pt;margin-bottom:-3.28pt;padding-right:0;text-align:left;}
.pos-25{position:relative;margin-top:-580px;}
.size-23{width:100%;min-width:960px;min-height:2474px;}
.cont-18{z-index:12;border:0;overflow:hidden;}
.fixed-4{background-attachment:fixed;background-image:url(../images/2017_nio_eve_concept_001_1317-960.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 100%;background-size:cover;background-clip:padding-box;}
.pos-26{position:relative;margin-top:27px;}
.pos-27{position:relative;margin-top:-2436px;}
.size-24{min-width:923px;width:923px;min-height:2436px;}
.size-25{min-width:481px;width:481px;min-height:123px;height:123px;}
.cont-19{z-index:10;border:0;background-color:rgb(117,150,179);}
.pos-28{position:relative;margin-left:42px;margin-top:-79px;}
.size-26{min-width:881px;width:881px;min-height:2392px;}
.cont-20{z-index:18;border:0;background-color:rgba(205,221,232,0.875117);box-shadow:15px 16px 18px rgba(0,0,0,0.4);}
.pos-29{position:relative;margin-left:48px;margin-top:18px;}
.size-27{min-width:153px;width:153px;min-height:56px;}
.cont-21{z-index:19;}
.pos-30{position:relative;margin-left:48px;margin-top:14px;}
.size-28{min-width:800px;width:800px;min-height:2260px;}
.cont-22{z-index:20;}
.para-10{padding-top:0;text-indent:0;margin-top:2.85pt;margin-bottom:-2.85pt;padding-right:0;text-align:left;}
.font-9{font-family:Kameron;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(82,100,111);line-height:19.94pt;letter-spacing:normal;}
.font-10{font-family:Avenir, sans-serif;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(82,100,111);line-height:22.95pt;letter-spacing:normal;}
.para-11{padding-top:0;text-indent:0;margin-top:3.28pt;margin-bottom:-3.28pt;padding-right:0;text-align:left;}
.menu-device{background-color:rgb(0,0,0);display:none;}
@media (min-width:960px) {
.fixed{background-image:url(../images/ocean-1200.jpg);background-attachment:fixed;}
.fixed-2{background-image:url(../images/52b6b4db7397c_1-1200.jpg);background-attachment:fixed;}
.fixed-3{background-image:url(../images/525f012329589_1-1200.jpg);background-attachment:fixed;}
.fixed-4{background-image:url(../images/2017_nio_eve_concept_001_1317-1200.jpg);background-attachment:fixed;}
}
@media (min-width:1200px) {
.fixed{background-image:url(../images/ocean-1600.jpg);background-attachment:fixed;}
.fixed-2{background-image:url(../images/52b6b4db7397c_1-1600.jpg);background-attachment:fixed;}
.fixed-3{background-image:url(../images/525f012329589_1-1600.jpg);background-attachment:fixed;}
.fixed-4{background-image:url(../images/2017_nio_eve_concept_001_1317-1600.jpg);background-attachment:fixed;}
}
@media (min-width:1600px) {
.fixed{background-image:url(../images/ocean-2000.jpg);background-attachment:fixed;}
.fixed-2{background-image:url(../images/52b6b4db7397c_1-2000.jpg);background-attachment:fixed;}
.fixed-3{background-image:url(../images/525f012329589_1-2000.jpg);background-attachment:fixed;}
.fixed-4{background-image:url(../images/2017_nio_eve_concept_001_1317-2000.jpg);background-attachment:fixed;}
}
